<a href="https://colab.research.google.com/github/manjushree7/4CS017/blob/main/BigData_Workshop1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""To ask a value from the end user and store it to reuse later, first take a variable and store the value.
The "input" keyword helps to take value from the end user """
first_name = input("Please Enter Your First Name: ")

Please Enter Your First Name: Manjushree

In [ ]:
"""To show the output python has a keyword "print" which prints the output"""
print(first_name)

Manjushree

In [ ]:
"""Here we are asking user to enter a value and checks if its negative, non-negative or positive
by the control structure"""
value = int(input("Please Enter a Number: ")) #input keyword always takes any value as a string. Thus, we use int() function
#it is called casting. It converts a value to different data types
if value < 0:
  print('The number is negative')
elif value == 0:
  print('The number is non-negative')
else:
  print('The number is positive')

Please Enter a Number: -1234
The number is negative

In [ ]:
"""Find the sum of all integers from 1 to 10 using while loop"""
total = 0
counter = 1
while counter <= 10: #stopping condition
  total = total + counter #sum
  counter += 1 #increament
print(total)

55

In [ ]:
"""A list can be created using a comma-separated sequence within square brackets"""
first_list = [1, 2, 3, 8]

In [ ]:
"""In a list, the individual items can be accessed by subscript/index:"""
print("First value of the list is ", first_list[0])
print("Last value of the list is ", first_list[-1])

First value of the list is  1
Last value of the list is  8

In [ ]:
"""The elements of a list can also be accessed by traversing the list using the iterator mechanism:"""
for values in first_list:
  print(values)

1
2
3
8

In [ ]:
#append
first_list.append(10)
print("After adding another element in the list, the list is ", first_list)

#modify
first_list[2] = 5
print("After modifying an element in the list, the list is ", first_list)

#insert: elements can be inserted in any positon/index
first_list.insert(2, 12)
print("After inserting an element in the list in the third position, the list is ", first_list)

After adding another element in the list, the list is  [1, 2, 3, 8, 10]
After modifying an element in the list, the list is  [1, 2, 5, 8, 10]
After inserting an element in the list in the third position, the list is  [1, 2, 12, 5, 8, 10]

In [ ]:
"""There are lot of ways to access elements of the dictionary. However, we will parctice the most common one.
The traversal using the iterator mechanism (for statement) is made over the keys in a dictionary"""
zipCode = {'London':290, 'Leeds':578, 'Wolverhampton':911}
for key in zipCode:
  print(key, '= ', zipCode[key])

London =  290
Leeds =  578
Wolverhampton =  911

In [ ]:
"""To explicitely find the list of keys or list value we can use the following"""
key_list = zipCode.keys()
value_list = zipCode.values()
print(key_list)
print(value_list)

dict_keys(['London', 'Leeds', 'Wolverhampton'])
dict_values([290, 578, 911])

In [ ]:
"""To change the value of a corresponding key we can do the following"""
zipCode['London'] = 666
for key in zipCode:
  print(key, '= ', zipCode[key])

London =  666
Leeds =  578
Wolverhampton =  911

In [ ]:
"""Using the same technique we can add another entry. However, the key must be unique.
Duplicate key name will modify the value only"""
zipCode['Birmingham'] = 111
for key in zipCode:
  print(key, '= ', zipCode[key])

London =  666
Leeds =  578
Wolverhampton =  911
Birmingham =  111

In [ ]:
def oddEven(num):
  if num%2 == 0:
    print('The number is even')
  else:
    print('The number is odd')
  return
num = int(input("Please Enter a Number: "))
oddEven(num)

Please Enter a Number: 23
The number is odd

## Workshop Solutions

In [ ]:
# Question 1